<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/static/view.css" rel="stylesheet" type="text/css">
    <title>Web-recommend</title>
</head>
<body>
    <img src="/static/img.png", class="background">
    <header>
        <nav id="menu">
             <ul>
                 <li><a href="/about"><i>Documentation</i></a> </li>
                 <li><a href="/recommendation"><i>Make recommendation</i></a></li>
             </ul>
        </nav>
    </header>
    <footer>
        <p align="center"><a href="https://github.com/GorRatsy/"
               target="_blank">Made by Egor Ratushnuk</a></p>
        <p align="center"><a target="_blank">2023</a></p>
    </footer>
</body>
</html>